ul{
    width: 500px;
    height: auto;
    border: 1px dotted #dddddd;
    border-radius: 10px;
    margin-left: 20px;
    padding-right: 20px;
}
li{
    cursor: pointer;
}
.from-input{
    display: flex;
    width: 500px;
    margin-left: 20px;
    margin-top: 10px;
}
.from-input Button{
    margin-left: 5px;
}